.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-family: Montserrat, sans-serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 900;
}

h2 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 700;
}

h3 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-size: 32px;
  line-height: 1.3;
  font-weight: 700;
}

h4 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 700;
}

h5 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}

h6 {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
}

p {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.6;
}

a {
  color: #000;
  text-decoration: underline;
}

.nav-link {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  color: #6d6d6d;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff7d00;
}

.nav-link.w--current {
  color: #ff7d00;
}

.navbar {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  background-color: transparent;
}

.brand-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 80px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.site-title {
  margin-top: 12px;
  margin-bottom: 12px;
  font-family: Poppins, sans-serif;
  color: #000;
  font-size: 24px;
  font-weight: 800;
}

.menu-button {
  color: #3a63d4;
}

.site-navigation {
  position: relative;
  z-index: 3;
  padding-top: 20px;
  padding-bottom: 20px;
  clear: none;
  background-color: #fff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}

.navbar-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.div-block-3 {
  width: 47%;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 87vh;
  padding: 74px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
  background-image: url('../images/Nurse-Studying.svg');
  background-position: 100% 50%;
  background-size: 50%;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.page-title {
  color: #001524;
  font-size: 68px;
  text-align: left;
}

.page-title.dark-background {
  color: #fff;
}

.subtitle {
  font-family: Montserrat, sans-serif;
  font-size: 26px;
  line-height: 29px;
}

.standard-button {
  width: 90%;
  margin-top: 29px;
  margin-right: 9px;
  margin-bottom: 29px;
  padding: 27px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff7d00;
  background-color: #ff7d00;
  -webkit-transition: color 200ms cubic-bezier(.6, .04, .98, .335), background-color 200ms ease-in;
  transition: color 200ms cubic-bezier(.6, .04, .98, .335), background-color 200ms ease-in;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
}

.standard-button:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #ff7d00;
  background-color: #ffecd1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
  color: #78290f;
}

.standard-button.smaller {
  width: auto;
  padding: 20px 61px 20px 60px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.standard-button.submit-button {
  margin-top: 11px;
  margin-right: 0px;
}

.cta-background-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.cta-background-image.nurse-phone-bg {
  min-height: 390px;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #fff;
  background-image: url('../images/Nurse-Using-Phone-to-Study.svg');
  background-position: 0% 100%;
  background-size: auto 98%;
  background-repeat: no-repeat;
}

.text-block-2 {
  text-align: right;
}

.text-block-2.bold-body-text {
  font-weight: 900;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.overlay-brown {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: auto;
  padding: 60px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-2 {
  padding: 121px 107px 107px;
}

.body {
  background-color: #f3f3f3;
}

.subheading {
  font-size: 40px;
  text-align: center;
}

.tabs-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.tab-link-box {
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
  -webkit-transition: background-color 900ms ease;
  transition: background-color 900ms ease;
}

.tab-link-box:hover {
  background-color: #ffecd1;
}

.tab-link-box.w--current {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
}

.tab-link-text {
  color: #001524;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
}

.tabs-content {
  margin-top: 20px;
}

.tabs-menu-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.inner-tab-title-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-bottom: 7px solid transparent;
  background-color: transparent;
  -webkit-transition: border-color 450ms cubic-bezier(.6, -.28, .735, .045);
  transition: border-color 450ms cubic-bezier(.6, -.28, .735, .045);
  color: #001524;
  font-weight: 800;
}

.inner-tab-title-box.w--current {
  border-bottom-color: #ff7d00;
  background-color: transparent;
}

.exam-card-parent-grid {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.exam-card-unlocked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  background-image: url('../images/Icon-awesome-lock-open.svg');
  background-position: 90% 79%;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
  text-decoration: none;
  cursor: pointer;
}

.inner-tab-pane {
  margin-top: 24px;
  margin-bottom: 24px;
}

.exam-card-title {
  font-weight: 800;
}

.exam-card-title.question-numbers {
  font-size: 10px;
  font-weight: 800;
}

.exam-card-locked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  background-image: url('../images/Icon-awesome-lock.svg');
  background-position: 90% 80%;
  background-size: 20px;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer;
}

.section-3 {
  padding-right: 20px;
  padding-bottom: 120px;
  padding-left: 20px;
}

.div-block-6 {
  height: 3px;
  margin-bottom: 40px;
  background-color: #001524;
}

.heading-2 {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  color: #001524;
  font-size: 68px;
  text-align: center;
}

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.submit-button {
  overflow: visible;
  padding: 23px 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  font-size: 37px;
  line-height: 42px;
  font-weight: 700;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  color: #001524;
}

.container-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 103px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.form-block {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 85vh;
  margin: 20px 20px 47px;
  background-image: url('../images/login-backgroung.svg');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.form-text-field {
  margin-right: auto;
  margin-left: auto;
  padding: 31px;
  font-size: 37px;
  font-weight: 300;
  text-align: center;
}

.form-text-field:focus {
  color: #001524;
}

.form-text-field.left {
  margin-right: 10px;
}

.form-text-field.right {
  margin-left: 10px;
}

.section-5 {
  padding: 40px 20px;
  background-color: #001524;
}

.section-6 {
  padding: 23px;
}

.container-3 {
  display: block;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.6fr 1fr;
  grid-template-columns: 0.6fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.question-number-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #fff;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.question-number-grid-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 63px;
  min-width: 63px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  color: #001524;
  text-decoration: none;
}

.question-number-grid-item:hover {
  background-color: #ffecd1;
}

.question-number-grid-item.current-question {
  background-color: #001524;
  color: #fff;
}

.question-number-grid-item.done-question-correct {
  background-color: #d3f3d3;
}

.question-number-grid-item.done-question-incorrect {
  background-color: #ffe1e1;
}

.question-number-grid-item-number {
  font-weight: 800;
}

.section-7 {
  padding: 20px;
}

.section-8 {
  padding: 20px;
}

.question-page-title {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 26px;
}

.question-page-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 13px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: #fff;
  box-shadow: 1px 1px 7px -4px rgba(0, 0, 0, 0.7);
  color: #757575;
}

.div-block-8 {
  display: -ms-grid;
  display: grid;
  margin-top: 26px;
  justify-items: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 13px;
  grid-row-gap: 9px;
  -ms-grid-columns: 1fr 0.75fr;
  grid-template-columns: 1fr 0.75fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.image {
  margin: 7px;
}

.question-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 10px 21px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: background-color 300ms cubic-bezier(.6, .04, .98, .335);
  transition: background-color 300ms cubic-bezier(.6, .04, .98, .335);
  cursor: pointer;
}

.question-field:hover {
  background-color: #ffecd1;
}

.question-field.question-incorrect {
  background-color: #ffd5d5;
}

.question-field-text {
  padding: 23px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-weight: 500;
}

.question-field-checkbox {
  width: 41px;
  height: 41px;
  border-style: solid;
  border-width: 1px;
  border-color: #78290f;
  border-radius: 20px;
  background-color: #fff;
}

.question-field-checkbox.question-incorrect {
  background-image: url('../images/icon-cross.svg');
  background-position: 50% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.sign-in-modal {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 500;
  display: none;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.85);
  color: rgba(0, 0, 0, 0.96);
}

.modal-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  height: 40vh;
  padding: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 11px 0 rgba(0, 0, 0, 0.51);
}

.modal-header {
  font-weight: 300;
  text-align: center;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.standard-button-alt {
  width: 90%;
  margin-top: 29px;
  margin-bottom: 29px;
  margin-left: 12px;
  padding: 27px;
  border-style: solid;
  border-width: 2px;
  border-color: #ff7d00;
  background-color: transparent;
  -webkit-transition: color 200ms cubic-bezier(.6, .04, .98, .335), background-color 200ms ease-in;
  transition: color 200ms cubic-bezier(.6, .04, .98, .335), background-color 200ms ease-in;
  font-family: Montserrat, sans-serif;
  color: #001524;
  font-size: 26px;
  font-weight: 900;
  text-align: center;
}

.standard-button-alt:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #ff7d00;
  background-color: #ffecd1;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.16);
  color: #78290f;
}

.standard-button-alt.smaller {
  width: auto;
  padding: 20px 61px 20px 60px;
  color: #000;
  font-size: 16px;
  font-weight: 300;
}

.modal-close-button {
  position: absolute;
  left: auto;
  top: 20px;
  right: 20px;
  bottom: auto;
  cursor: pointer;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  text-align: center;
}

.footer-flex-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: left;
}

.footer-logo-link {
  max-height: 60px;
  min-width: 60px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.footer-image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.footer-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.footer-link {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #444;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.div-block-10 {
  padding-right: 42px;
}

.list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.list-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-3 {
  font-size: 10px;
  text-align: right;
}

.div-block-11 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 991px) {
  .nav-link {
    display: block;
    color: #fff;
  }
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .brand-link {
    padding-left: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .brand-link.w--current {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .site-title {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  .menu-button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: right;
  }
  .menu-button.w--open {
    background-color: #001524;
  }
  .menu-button-icon {
    color: #ff7d00;
    font-size: 50px;
  }
  .menu-button-icon:hover {
    color: #ff7d00;
  }
  .navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    min-width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .nav-menu {
    background-color: #001524;
    color: #fff;
  }
  .div-block-3 {
    width: 100%;
    margin-top: 319px;
  }
  .section {
    padding: 16px;
    background-position: 100% 0%;
    background-size: 520px;
  }
  .standard-button {
    margin: 11px;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
  .cta-background-image.nurse-phone-bg {
    background-size: auto 66%;
  }
  .div-block-4 {
    max-width: 70%;
  }
  .section-2 {
    padding: 68px 26px;
  }
  .exam-card-parent-grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .question-number-grid {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .modal-container {
    width: 75vw;
  }
  .standard-button-alt {
    margin: 11px;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
    line-height: 1.2;
  }
  h2 {
    font-size: 28px;
    line-height: 1.2;
  }
  h3 {
    font-size: 24px;
    line-height: 1.4;
  }
  h4 {
    font-size: 20px;
    line-height: 1.4;
  }
  h5 {
    font-size: 16px;
    line-height: 1.4;
  }
  h6 {
    font-size: 14px;
    line-height: 1.4;
  }
  p {
    font-size: 16px;
  }
  .navbar {
    padding-top: 0px;
  }
  .section {
    padding: 27px;
    background-size: 430px;
  }
  .page-title {
    font-size: 42px;
  }
  .standard-button {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .cta-background-image.nurse-phone-bg {
    background-size: auto 36%;
  }
  .div-block-4 {
    max-width: 100%;
  }
  .tabs-menu {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .tabs-menu-2 {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .container-2 {
    padding: 16px;
  }
  .section-4 {
    min-height: 70vh;
    background-image: none;
  }
  .grid-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .modal-container {
    width: 90vw;
  }
  .div-block-9 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }
  .standard-button-alt {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-flex-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer-image {
    -o-object-fit: contain;
    object-fit: contain;
  }
  .list {
    display: block;
  }
  .list-2 {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 36px;
    line-height: 1.1;
  }
  h2 {
    line-height: 1.2;
  }
  h3 {
    line-height: 1.3;
  }
  h4 {
    line-height: 1.4;
  }
  h5 {
    line-height: 1.4;
  }
  .nav-link {
    display: block;
    color: #fff;
  }
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .brand-link {
    padding-left: 10px;
  }
  .site-title {
    margin-top: 14px;
    margin-bottom: 14px;
  }
  .menu-button {
    background-color: transparent;
  }
  .menu-button.w--open {
    background-color: #000;
  }
  .menu-button {
    margin-right: 13px;
    padding: 3px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 29px;
  }
  .menu-button-icon {
    font-size: 46px;
  }
  .menu-button-icon:hover {
    color: #ffecd1;
  }
  .nav-menu {
    display: block;
  }
  .div-block-3 {
    margin-top: 174px;
  }
  .section {
    height: 59vh;
    padding: 15px;
    background-position: 100% 0%;
    background-size: 300px;
  }
  .subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .standard-button {
    margin: 27px 0px;
    padding: 19px;
    font-size: 18px;
  }
  .standard-button.smaller {
    padding: 11px;
  }
  .cta-background-image.nurse-phone-bg {
    padding-bottom: 101px;
    background-size: contain;
  }
  .text-block-2 {
    text-align: left;
  }
  .div-block-4 {
    max-width: 100%;
  }
  .overlay-brown {
    padding: 25px;
  }
  .tabs-menu {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .tabs-menu-2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .exam-card-parent-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .exam-card-unlocked {
    padding: 30px;
  }
  .div-block-6 {
    height: 3px;
    margin-top: 21px;
    margin-bottom: 21px;
    padding-bottom: 0px;
    background-color: #001524;
  }
  .heading-2 {
    font-size: 42px;
  }
  .div-block-7 {
    width: 90%;
  }
  .container-2 {
    padding: 0px;
  }
  .form-text-field {
    font-size: 26px;
  }
  .form-text-field.left {
    margin-right: 0px;
  }
  .form-text-field.right {
    margin-left: 0px;
  }
  .question-number-grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .question-field {
    padding: 13px;
  }
  .question-field-text {
    padding: 4px 4px 4px 11px;
  }
  .question-field-checkbox {
    width: 30px;
    height: 30px;
  }
  .question-field-checkbox.question-incorrect {
    background-size: 14px;
  }
  .sign-in-modal {
    position: fixed;
  }
  .modal-container {
    height: auto;
  }
  .standard-button-alt {
    padding: 19px;
    font-size: 18px;
  }
  .footer {
    padding-right: 20px;
    padding-left: 20px;
    text-align: left;
  }
  .footer-flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .footer-logo-link {
    height: 60px;
  }
  .footer-heading {
    margin-top: 20px;
  }
  .div-block-10 {
    padding-right: 13px;
  }
  .list {
    display: block;
  }
  .list-2 {
    display: block;
  }
  .div-block-11 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

#w-node-470971087bdf-f1576344 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 4;
  grid-column-start: span 4;
  -ms-grid-column-span: 4;
  grid-column-end: span 4;
}

#w-node-ab46ea8f8dae-f1576344 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 8;
  grid-column-start: span 8;
  -ms-grid-column-span: 8;
  grid-column-end: span 8;
}

@media screen and (max-width: 991px) {
  #w-node-470971087bdf-f1576344 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 12;
    grid-column-end: 13;
  }
  #w-node-ab46ea8f8dae-f1576344 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 12;
    grid-column-start: span 12;
    -ms-grid-column-span: 12;
    grid-column-end: span 12;
  }
}

@media screen and (max-width: 767px) {
  #w-node-470971087bdf-f1576344 {
    -ms-grid-column-span: 12;
    grid-column-end: 13;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
}

